@use "../../global/variable" as *;
@use "../../global/mixin" as *;

.footer {
  width: 100%;
  height: auto;
  background-color: $color-red;
  padding: 4.8rem 10rem;
  @include sp {
    padding: 5rem 0;
  }
  .footer__nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3.3rem;
      @include sp {
        gap: 3rem;
      }
      li {
        a {
          font-size: 1.7rem;
          color: #fff;
          transition: all 0.4s;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
  .footer__logo {
    display: block;
    width: 3.2rem;
    height: 4.1rem;
    margin: 2.5rem auto 0;
    @include sp {
      margin-top: 2rem;
    }
  }
  .footer__copyright {
    display: block;
    text-align: center;
    margin-top: 3.8rem;
    p {
      color: #fff;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
  .footer__sns-nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1.3rem;
      margin-top: 0.4rem;
      @include sp {
        margin-top: 1.2rem;
      }
      li {
        a {
          display: block;
          width: 2.2rem;
          transition: all 0.4s;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
