@use '../../global/variable' as *;
@use '../../global/mixin' as *;

.slider-bottom {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out,transform 1s ease-out;
  // animation: slider-bottom 3s infinite;
}

.slider-bottom.show {
  opacity: 1;
  transform: translateY(0);
}

// @keyframes slider-bottom {
//   0% {
//     transform: translateY(50px);
//   }
//   100% {
//     transform: translateY(0);
//   }
// }