<section id="not-found__404">
  <div class="not-found__404-banner">
    <picture>
      <source media="(min-width: 768px)" srcset="/images/banner/404.jpg" type="image/jpg">
      <img src="/images/banner/404-sp.jpg" alt="404エラー" width="375" height="300" decoding="async">
    </picture>
    <div class="not-found__404-banner-title">
      <h1>404 not found</h1>
    </div>
  </div>

  <div class="inner">
    <div class="not-found__404-com">
      <p>申し訳ございませんが、お探しのページが見つかりませんでした。<br>お探しのページは一時的に表示ができない状態にあるか、移動または削除された可能性があります。</p>
    </div>
    <div id="contact-btn" class="contact__send-btn"><a href="/top.html">ホームへ戻る</a>
    </div>
  </div>
</section>
