<!-- htmlhint doctype-first:false -->
<section class="l-main">
  <nav aria-label="breadcrumb" class="breadcrumb">
    <div class="inner">
      <ol class="breadcrumb__list">
        <li class="breadcrumb__item">
          <a href="index.html" class="breadcrumb__link">ホーム</a>
        </li>
        <li class="breadcrumb__item">
          <a href="blog-list.html" class="breadcrumb__link">ブログ</a>
        </li>
        <li class="breadcrumb__item">
          <a href="blog-list.html" class="breadcrumb__link">ギター</a>
        </li>
        <li class="breadcrumb__item" aria-current="page">アルペジオが劇的に向上する３つの習慣
        </li>
      </ol>
    </div>
  </nav>

  <div class="inner l-main__inner">
  <article id="blog-guitar">
      <div class="blog__container-guitar-sec">
        <div class="blog__container-wrap">
          <!-- FV -->
          <div class="p-blog">
            <div class="p-blog__head">
              <img src="images/details/blog01.jpg" alt="ギターを弾く人" width="200" height="100" decoding="async">
              <p class="c-tag">ギター</p>
            </div>
            <div class="p-blog__head-title">
              <h2>アルペジオが劇的に向上する３つの習慣</h2>
              <time class="c-date" datetime="2025-06-01">0000.00.00</time>
            </div>
          </div>
          <!-- SNS -->
          <div class="p-blog__sns-area">
            <a href="#" class="icon-facebook" aria-label="Facebookでシェア">
              <picture>
                <source media="(min-width: 768px)" srcset="images/details/Facebook.jpg" type="image/jpg">
                <img src="images/details/Facebook-sp.jpg" alt="Facebookでシェアアイコン" width="65" height="40" decoding="async">
              </picture>
            </a>

            <a href="#" class="icon-twitter" aria-label="Twitterでシェア">
              <picture>
                <source media="(min-width: 768px)" srcset="images/details/Twitter.jpg" type="image/jpg">
                <img src="images/details/Twitter-sp.jpg" alt="Twitterでシェアアイコン" width="65" height="40" decoding="async">
              </picture>
            </a>

            <a href="#" class="icon-hatena" aria-label="Hatenaでシェア">
              <picture>
                <source media="(min-width: 768px)" srcset="images/details/Hatena.jpg" type="image/jpg">
                <img src="images/details/hatena-sp.jpg" alt="Hatenaでシェアアイコン" width="65" height="40" decoding="async">
              </picture>
            </a>

            <a href="#" class="icon-line" aria-label="LINEでシェア">
              <picture>
                <source media="(min-width: 768px)" srcset="images/details/LINE.jpg" type="image/jpg">
                <img src="images/details/LINE-sp.jpg" alt="LINEでシェアアイコン" width="65" height="40" decoding="async">
              </picture>
            </a>

            <a href="#" class="icon-pocket" aria-label="Pocketでシェア">
              <picture>
                <source media="(min-width: 768px)" srcset="images/details/pocket.jpg" type="image/jpg">
                <img src="images/details/pocket-sp.jpg" alt="Pocketでシェアアイコン" width="65" height="40" decoding="async">
              </picture>
            </a>
          </div>
          <!-- 本文 -->
          <div class="p-blog__text">
            <p>
              本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
            </p>
          </div>

          <div class="p-blog__card">
            <h2>H2見出しが入ります。H2見出しが入ります。</h2>
            <div class="p-blog__text">
              <p>本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。</p>
            </div>
            <div class="p-blog__text-img">
              <picture>
                <source media="(min-width: 768px)" srcset="images/details/details02.jpg" type="image/jpg">
                <img src="images/details/choice01-sp.jpg" alt="犬を抱いてピアノを弾いている先生" width="300" height="200" decoding="async">
              </picture>
            </div>
            <ul class="p-blog__text">
              <li>・リストが入ります</li>
              <li>・リストが入ります</li>
              <li>・リストが入ります</li>
            </ul>
          </div>

          <hr class="line"><!-- ライン -->

          <div class="p-blog__quotation">
            <h3 class="p-blog__quotation-head">H3見出しが入ります。H3見出しが入ります。</h3>
            <div class="p-blog__quotation-area">
              <p class="p-blog__text">
                本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
              </p>
            </div>
            <a href="#" class="c-text-link">テキストリンク</a>
          </div>

          <!-- 記事ナビゲーション -->
          <!-- 前へ -->
          <div class="p-blog__pager">
            <a href="blog-guitar.html" aria-label="前の記事：タイトルが入ります">
              <div class="p-blog__pager-item">
                <span class="prev">前の記事</span>
                <div class="p-blog__page">
                  <img src="images/details/details03.jpg" alt="拳をあげて元気よく歌う人" class="pc" width="98" height="68" decoding="async">
                  <p class="p-blog__text">タイトルが入ります。タイトルが入ります。タイトルが入</p>
                </div>
              </div>
            </a>
            <!-- 次へ -->
            <a href="blog-guitar.html" aria-label="次の記事：タイトルが入ります">
              <div class="p-blog__pager-item">
                <span class="next">次の記事</span>
                <div class="p-blog__page">
                  <img src="images/details/details03.jpg" alt="拳をあげて元気よく歌う人" class="pc" width="98" height="68" decoding="async">
                  <p class="p-blog__text">タイトルが入ります。タイトルが入ります。タイトルが入</p>
                </div>
              </div>
            </a>
          </div>

          <!-- 関連記事 -->
          <div class="p-blog__related">
            <h4 class="c-title-black">関連記事</h4>
            <ul class="p-blog__related-list">
              <li>
                <a href="blog-guitar.html" class="p-blog__related-card">
                  <div class="p-blog__related-img">
                    <img src="images/details/details04.jpg" alt="拳をあげて元気よく歌う人" width="200" height="140" decoding="async">
                    <span class="c-tag">ギター</span>
                  </div>
                  <div class="p-blog__text">
                    <p>タイトルが入ります。タイトルが入ります。タイトルが入ります。</p>
                    <time class="c-date" datetime="2025-06-01">0000.00.00</time>
                  </div>
                </a>
              </li>
              <li>
                <a href="blog-guitar.html" class="p-blog__related-card">
                  <div class="p-blog__related-img">
                    <img src="images/details/details04.jpg" alt="拳をあげて元気よく歌う人" width="200" height="140" decoding="async">
                    <span class="c-tag">ギター</span>
                  </div>
                  <div class="p-blog__text">
                    <p>タイトルが入ります。タイトルが入ります。タイトルが入ります。</p>
                    <time class="c-date" datetime="2025-06-01">0000.00.00</time>
                  </div>
                </a>
              </li>
              <li>
                <a href="blog-guitar.html" class="p-blog__related-card">
                  <div class="p-blog__related-img">
                    <img src="images/details/details04.jpg" alt="拳をあげて元気よく歌う人" width="200" height="140" decoding="async">
                    <span class="c-tag">ギター</span>
                  </div>
                  <div class="p-blog__text">
                    <p>タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルタイトルが入ります。タイトル</p>
                    <time class="c-date" datetime="2025-06-01">0000.00.00</time>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </article>
    <!-- サイドバー -->
    <aside class="p-sidebar__wrap">
      <!-- メルマガ -->
      <div class="p-widget">
        <h4 class="c-title-black">無料メールマガジン</h4>
        <a href="#" class="p-widget__body">バナー広告</a>
      </div>
      <!-- ブログ内検索 -->
      <div class="p-widget">
        <h4 class="c-title-black">ブログ内を検索</h4>
        <form class="p-search" action="search.html" method="get">
          <input type="search" name="keyword" aria-label="キーワード検索">
          <button type="submit" aria-label="検索">
            <img src="images/details/icon-search.svg" alt="虫眼鏡のマーク" width="20" height="23" decoding="async">
          </button>
        </form>
      </div>
      <!-- おすすめの記事 -->
      <div class="p-widget__recommend">
        <h4 class="c-title-black">おすすめの記事</h4>
        <ul>
          <li>
            <a href="blog-guitar.html" class="p-widget__recommend-article">
              <div class="p-widget__recommend-img"></div>
              <div class="p-blog__text">
                <p>タイトルが入ります。タイトル</p>
              </div>
            </a>
          </li>
          <li>
            <a href="blog-guitar.html" class="p-widget__recommend-article">
              <div class="p-widget__recommend-img"></div>
              <div class="p-blog__text">
                <p>タイトルが入ります。タイトル</p>
              </div>
            </a>
          </li>
          <li>
            <a href="blog-guitar.html" class="p-widget__recommend-article">
              <div class="p-widget__recommend-img"></div>
              <div class="p-blog__text">
                <p>タイトルが入ります。タイトル</p>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="p-widget__category">
        <h4 class="c-title-black">カテゴリー</h4>
        <ul class="p-widget__category-li">
          <li><a href="#">カテゴリー</a></li>
          <li><a href="#">カテゴリー</a></li>
          <li><a href="#">カテゴリー</a></li>
          <li><a href="#">カテゴリー</a></li>
          <li><a href="#">カテゴリー</a></li>
        </ul>
      </div>
    </aside>
  </div>
</section>