<nav aria-label="breadcrumb" class="breadcrumb">
  <div class="inner">
    <ol class="breadcrumb__list">
      <li class="breadcrumb__item">
        <a href="/" class="breadcrumb__link">ホーム</a>
      </li>
      <li class="breadcrumb__item">
        <a href="/plan/" class="breadcrumb__link">プラン・料金</a>
      </li>
      <li class="breadcrumb__item">
        <a href="/blog-list/" class="breadcrumb__link">ブログ</a>
      </li>
      <li class="breadcrumb__item">
        <a href="/blog-details/" class="breadcrumb__link">ギター</a>
      </li>
      <li class="breadcrumb__item">
        <a href="/contact-form/" class="breadcrumb__link">お問い合わせ</a>
      </li>
      <li class="breadcrumb__item">
        <a href="/contact-send/" class="breadcrumb__link">送信完了</a>
      </li>
      <li class="breadcrumb__item">
        <a href="/search/" class="breadcrumb__link">検索</a>
      </li>
      <li class="breadcrumb__item">
        <a href="/result-list/" class="breadcrumb__link">卒業実績</a>
      </li>
      <li class="breadcrumb__item">
        <a href="/resulut-details/" class="breadcrumb__link">ポップス</a>
      </li>
      <li class="breadcrumb__item" aria-current="page">
        タイトルが入ります。
      </li>
    </ol>
  </div>
  </nav>