
  <section id="contact-send">
    <div class="contact__send-banner">
      <picture>
        <source media="(min-width: 768px)" srcset="/images/banner/Contact.jpg" type="image/jpg">
        <img src="/images/banner/Contact-sp.jpg" alt="バナー" width="375" height="300">
      </picture>
      <div class="contact__send-banner-title">
        <h1>お問い合わせ</h1>
      </div>
      </div>
      <nav aria-label="breadcrumb" class="breadcrumb">
        <div class="inner">
          <ol class="breadcrumb__list">
            <li class="breadcrumb__item">
              <a href="/" class="breadcrumb__link">ホーム</a>
            </li>
            <li class="breadcrumb__item">
              <a href="./contact-send.html" class="breadcrumb__link">送信完了</a>
            </li>
          </ol>
        </div>
        </nav>
        <div class="inner">
          <div class="contact__send-com">
            <p>お問い合わせいただきありがとうございました。<br>内容確認後、担当者よりメールにてご連絡いたします。</p>
          </div>
          <div id="contact-btn" class="contact__send-btn"><a href="/index.html">ホームへ戻る</a>
          </div>
        </div>
  </section>