<footer>
  <div class="footer">
    <nav class="footer__nav">
      <ul>
        <li>
          <a href="/index.html">ホーム</a>
        </li>
        <li>
          <a href="/plan.html">料金</a>
        </li>
        <li>
          <a href="/blog-list.html">ブログ</a>
        </li>
        <li>
          <a href="/result-list.html">卒業実績</a>
        </li>
      </ul>
    </nav>
    <div class="footer__logo">
      <img src="/images/common/logo-white.svg" alt="フッターロゴ"width="32" height="50" decoding="async">
    </div>
    <div class="footer__copyright">
      <p>Copyright &copy; 0000 KITAMURA music school Inc. <br class="sp">All Rights</p>
    </div>
    <nav class="footer__sns-nav">
      <ul>
        <li>
          <a href="#">
            <img src="/images/common/icon-twitter.svg" alt="twitter" width="22" height="20" decoding="async">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/images/common/icon-facebook.svg" alt="facebook" width="22" height="20" decoding="async">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/images/common/icon-youtube.svg" alt="youtube" width="22" height="20" decoding="async">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/images/common/icon-instagram.svg" alt="instagram" width="22" height="20" decoding="async">
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
