
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <!-- meta情報 -->
  <title>きたむらミュージックスクール</title>
  <meta name="description" content="音楽業界初！収益化までサポートするミュージックスクール">
  <meta name="keywords" content="音楽教室,ミュージックスクール,ボーカル,ピアノ,管楽器,弦楽器">
  <!-- favicon -->
  <link rel="icon" href="/images/common/favicon.png" type="image/png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/common/favicon-apple.png">
  <!-- ogp設定 -->
  <meta property="og:title" content="きたむらミュージックスクール" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://example.com/" />
  <meta property="og:image" content="images/common/og-image.jpg" />
  <meta property="og:site_name" content="きたむらミュージックスクール">
  <!-- X Card設定 -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="きたむらミュージックスクール" />
  <meta name="twitter:description" content="音楽業界初！収益化までサポートするミュージックスクール" />
  <meta name="twitter:image" content="images/common/og-image.jpg" />
  <meta name="twitter.site" content="@YourXAccount" />
  <!-- シンプルバーCSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@6.2.4/dist/simplebar.min.css" />
  <!-- SlickのCSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
  <!-- css -->
  <link rel="stylesheet" href="/css/style.css">