<!-- src/html/partials/header.html -->
  <header id="header">
    <div class="header">
      <a href="./index.html">
        <div class="header__logo">
          <img src="/images/common/logo.svg" alt="ヘッダーロゴ" width="32" height="50" decoding="async">
          <div class="header__logo-text">きたむら<br class="pc"><span class="logo__text">ミュージックスクール</span></div>
        </div>
      </a>
      <button type="button" class="header__hb-btn sp" aria-controls="site-nav" aria-expanded="false" aria-label="ハンバーガーメニュー">
        <span class="header__hb-inner">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>
      <nav id="site-nav" class="header__nav"  aria-hidden="true">
        <ul>
          <li>
            <a href="/plan.html">料金</a>
          </li>
          <li>
            <a href="/blog-list.html">ブログ</a>
          </li>
          <li>
            <a href="/result-list.html">卒業実績</a>
          </li>
          <li class="pc">
            <a href="/contact-form.html" class="btn">
              お問い合わせ
            </a>
          </li>
        </ul>
      </nav>
      <div class="nav-overlay"></div>
    </div>
  </header>