<section id="plan">
  <div class="plan__banner">
    <picture>
      <source media="(min-width: 768px)" srcset="images/banner/Plan.jpg" type="image/jpg">
      <img src="images/banner/Plan-sp.jpg" alt="アコースティックギターとベースのバナー" width="375" height="300" decoding="async">
    </picture>
    <div class="plan__banner-title">
      <h2>プラン・料金</h2>
    </div>
  </div>

  <nav aria-label="breadcrumb" class="breadcrumb">
    <div class="inner">
      <ol class="breadcrumb__list">
        <li class="breadcrumb__item">
          <a href="index.html" class="breadcrumb__link">ホーム</a>
        </li>
        <li class="breadcrumb__item" aria-current="page">プラン・料金</li>
      </ol>
    </div>
  </nav>

  <div class="plan__type">
    <h3>料金体系</h3>
    <div class="inner">
      <div class="plan__type-info">
        <span class="info">入会金 39,000円</span>
        <span class="plus"></span>
        <span class="info">月額料金</span>
      </div>
      <p>きたむらミュージックスクールでは、個人に合わせたサポートを行う完全オーダーメイドのプランを用意しており、サポート内容により月額料金が異なります。担当者があなたに最適なプランを提案いたしますので、お気軽にお問い合わせください。※すべての料金は税込価格となります。</p>
    </div>
  </div>

  <div class="plan__month">
    <h3>プラン内容・月額料金</h3>
    <div class="inner">
      <div class="table-wrapper" data-simplebar data-simplebar-auto-hide="false">
        <table class="plan__table">
          <thead>
            <tr>
              <th class="plan__table-header"></th>
              <th class="plan-basic">ベーシック<br class="sp">プラン</th>
              <th class="plan-standard">
                <span class="badge">おすすめ</span>
                <span>スタンダード<br class="sp">プラン</span>
              </th>
              <th class="plan-premium">プレミアム<br class="sp">プラン</th>
            </tr>
          </thead>
          <tbody>
            <tr class="monthly-fee">
              <th scope="row" class="monthly-fee-title">月額料金</th>
              <td>39,000円</td>
              <td class="highlight">59,000円</td>
              <td>128,000円</td>
            </tr>
            <tr class="private-lesson">
              <th scope="row">マンツーマン授業</th>
              <td><span class="dot"></span><br>週１回</td>
              <td><span class="dot red"></span><br>週２回</td>
              <td><span class="dot"></span><br>無制限</td>
            </tr>
            <tr class="business-lesson">
              <th scope="row">ビジネス基本講座</th>
              <td><span class="dot"></span></td>
              <td><span class="dot red"></span></td>
              <td><span class="dot"></span></td>
            </tr>
            <tr class="room">
              <th scope="row">練習ROOM利用</th>
              <td><span class="dot"></span><br>月10時間</td>
              <td><span class="dot red"></span><br>月20時間</td>
              <td><span class="dot"></span><br>無制限</td>
            </tr>
            <tr class="consult">
              <th scope="row">ビジネスコンサル</th>
              <td><span class="line"></span></td>
              <td><span class="dot red"></span><br>月２回</td>
              <td><span class="dot"></span><br>月３回</td>
            </tr>
            <tr class="community">
              <th scope="row">コミュニティ<br class="sp">参加資格</th>
              <td><span class="line"></span>
              </td>
              <td><span class="line"></span>
              </td>
              <td><span class="dot"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>※各サービスは１回ごとのオプション追加が可能です。詳しくは事務局までお問い合わせください。</p>
    </div>
    </div>
</section>