<main>
  <nav aria-label="breadcrumb" class="breadcrumb">
    <div class="inner">
      <ol class="breadcrumb__list">
        <li class="breadcrumb__item">
          <a href="/" class="breadcrumb__link">ホーム</a>
        </li>
        <li class="breadcrumb__item" aria-current="page">検索
        </li>
      </ol>
    </div>
  </nav>

  <section id="search">
    <div class="inner">

      <div class="search__title">
        <h1>
          <strong>「キーワード」</strong>
          <span class="search__suffix">の検索結果</span>
        </h1>
        <p class="search__count">8件</p>
      </div>
      <!-- 結果リスト -->
      <ul class="search__list">
        <li class="blog-list__item-box">
          <a href="/blog-guitar.html" class="blog-list__item-link">
            <div class="blog-list__item-img">
              <picture>
                <source media="(min-width: 768px)" srcset="/images/blog/blog01.jpg" type="image/jpg">
                <img src="/images/blog/blog01-sp.jpg" alt="ギター" width="375" height="300">
                <p>ギター</p>
              </picture>
            </div>
            <div class="blog-list__item-com">
              <h3>アルペジオが劇的に向上する3つの習慣</h3>
              <time datetime="0000-00-00">0000.00.00</time>
              <p>
                本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>

  </section>
</main>