@use "../global/variable" as *;
@use "../global/mixin" as *;

.not-found__404-banner {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  z-index: 0;
  isolation: isolate;

  picture,
  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(80, 80, 80, 0.4863);
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 1;
  }
  .not-found__404-banner-title {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding-top: 1rem;
    font-size: 2.5rem;
    z-index: 2;
    text-align: center;
  }
}

.not-found__404-com {
  margin-top: 6.8rem;
  text-align: center;
  @include sp {
    margin-top: 2.7em;
    margin-bottom: 0.9rem;
    text-align: left;
  }
  p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: calc(30 / 18);
    @include sp {
      font-size: 1.6rem;
      line-height: calc(30 / 16);
    }
  }
}

.contact__send-btn {
  margin: 0 auto;
  background-color: $color-red;
  color: #fff;
  font-size: 2.5rem;
  width: 25rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 0.4s, background-color 0.4s, border-color 0.4s;
  border: 0.1rem solid transparent;
  &:hover {
    background-color: #fff;
    color: $color-red;
    border-color: $color-red;
  }
  @include sp {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 5rem;
  }
}
