@use "../global/variable" as *;
@use "../global/mixin" as *;

.c-tag {
  width: 8rem;
  height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #fff;
  background-color: $color-red;
  position: absolute;
  top: 0;
  left: 0;
  @include sp {
    width: 9rem;
  }
}

.c-date {
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.7rem;
  font-weight: 500;
}
.p-blog__text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(30 / 18);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  @include sp {
    font-size: 1.6rem;
    line-height: calc(30 / 16);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.c-title-black {
  display: flex;
  width: 100%;
  height: 5rem;
  background-color: #000;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.l-main__inner {
  display: flex;
  align-items: flex-start;
  gap: 3rem;

  @include sp {
    flex-direction: column;
    gap: 2rem;
  }
}
/* 記事エリア */
#blog-guitar {
  flex: 1;
}
/* サイドバー */
.p-sidebar__wrap {
  flex-shrink: 0;
  width: 25rem;
}

.blog__container-guitar-sec {
  .blog__container-wrap {
    width: 100%;
    height: auto;
    @include sp {
      width: 100%;
    }
    .p-blog {
      padding-top: 7rem;
      width: 100%;
      height: auto;
      @include sp {
        padding-top: 5.3rem;
      }
      .p-blog__head {
        width: 100%;
        height: 35rem;
        position: relative;
        @include sp {
          height: 20rem;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          @include sp {
            height: 100%;
          }
        }
      }
      .p-blog__head-title {
        margin-top: 4.8rem;
        font-size: 2.5rem;
        @include sp {
          margin-top: 3rem;
          font-size: 2rem;
        }
      }
      .c-date {
        display: block;
        margin-top: 0.9rem;
      }
    }

    .p-blog__sns-area {
      margin-top: 2.2rem;
      margin-bottom: 4.8rem;
      display: flex;
      gap: 0.3rem;
      @include sp {
        justify-content: space-between;
        gap: 0;
        width: 100%;
        margin-top: 2.3rem;
        margin-bottom: 3rem;
        gap: 0.3rem;
      }
      a {
        transition: all 0.4s;
        &:hover {
          opacity: 0.6;
        }
        @include sp {
          flex: 1;
          text-align: center;
        }
      }
      .p-blog__sns-area a img {
        width: 100%;
        height: auto;
      }
    }

    .p-blog__card {
      margin-bottom: 2.8rem;
      @include sp {
        margin-bottom: 2.2rem;
      }
      h2 {
        margin-top: 3.8rem;
        font-size: 2rem;
        @include sp {
          margin-top: 3.6rem;
          margin-bottom: -0.4rem;
        }
      }
      .p-blog__text {
        margin-top: 2rem;
        @include sp {
          margin-top: 2.5rem;
        }
        li {
          padding-top: 0.4rem;
          @include sp {
            padding-top: 0;
          }
        }
      }
      .p-blog__text-img {
        margin-top: 1.7rem;
        width: 33.5rem;
        aspect-ratio: 33.5 / 20;
        overflow: hidden;
        @include sp {
          margin-top: 3.6rem;
          width: 100%;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          @include sp {
            object-fit: cover;
          }
        }
      }
    }

    .line {
      display: inline-block;
      width: 100%;
      border: none;
      border-top: 0.5px solid #000;
      padding-top: 0.9rem;
      @include sp {
        padding-top: 0;
      }
    }

    .p-blog__quotation {
      .p-blog__quotation-head {
        margin-top: 3.7rem;
        font-size: 2rem;
        border-left: 0.3rem solid #000;
        padding-left: 0.95rem;
        line-height: calc(40 / 20);
        @include sp {
          margin-top: 4.4rem;
          padding-left: 0.6rem;
          line-height: calc(26 / 20);
        }
      }
      .p-blog__quotation-area {
        position: relative;
        margin-top: 2.8rem;
        width: 100%;
        background-color: #e8e8e8;
        padding: 1.7rem 3rem 1.1rem 6.7rem;
        @include sp {
          margin-top: 2.7rem;
          padding: 1.7rem 2rem 1.1rem 7rem;
        }
        &::before {
          content: "";
          position: absolute;
          top: 1.2rem;
          left: 1.5rem;
          width: 2.7rem;
          height: 2.3rem;
          background: url("/images/details/icon-blockquote.svg") no-repeat center/contain;
          pointer-events: none;
        }
        .p-blog__text {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          margin: 0;
        }
      }

      .c-text-link {
        display: inline-block;
        font-size: 2rem;
        font-weight: 700;
        color: $color-red;
        border-bottom: 0.1rem solid $color-red;
        padding-bottom: 1rem;
        margin-top: 2.7rem;
        transition: all 0.4s;
        &:hover {
          opacity: 0.6;
        }
        @include sp {
          margin-top: 2.8rem;
          line-height: calc(28 / 20);
        }
      }
    }

    .p-blog__pager {
      margin-top: 5.6rem;
      width: 100%;
      height: auto;
      display: flex;
      gap: 8rem;
      @include sp {
        margin-top: 4.8rem;
        gap: 2.2rem;
      }
      a {
        transition: all 0.4s;
        &:hover {
          opacity: 0.6;
        }
      }
      .p-blog__pager-item {
        background-color: #fff;
        width: 26rem;
        height: auto;
        .prev,
        .next {
          position: relative;
          display: block;
          width: 100%;
          background-color: #000;
          color: #fff;
          font-size: 1.7rem;
          font-weight: 500;
          margin-bottom: 1.5rem;
          text-decoration: none;
        }
        .prev {
          text-align: left;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border-width: 0.85rem 1.2rem 0.85rem 0;
            border-style: solid;
            border-color: transparent currentColor transparent transparent;
          }
        }
        .next {
          text-align: right;
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border-width: 0.85rem 0 0.85rem 1.2rem;
            border-style: solid;
            border-color: transparent transparent transparent currentColor;
          }
        }
        .p-blog__page {
          display: flex;
          width: 100%;
          height: auto;
          gap: 1.6rem;
          img {
            width: 9.8rem;
            height: 6.8rem;
          }
          .p-blog__text {
            height: 4.5rem;
            margin-top: -0.4rem;
            padding-left: 0.1rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: calc(25 / 16);
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            @include sp {
              margin-top: 0;
            }
          }
        }
      }
    }

    .p-blog__related {
      margin-top: 9.7rem;
      margin-bottom: 18.7rem;
      width: 100%;
      height: auto;
      @include sp {
        margin-top: 6.3rem;
        margin-bottom: -2.2rem;
      }
      .c-title-black {
        justify-content: flex-start;
        text-align: left;
        padding-left: 3rem;
        @include sp {
          justify-content: center;
          text-align: center;
          padding-left: 0;
        }
      }
      .p-blog__related-list {
        width: 100%;
        height: auto;
        .p-blog__related-card {
          display: flex;
          margin-top: 3rem;
          gap: 3rem;
          transition: all 0.4s;
          &:hover {
            opacity: 0.6;
          }
          @include sp {
            margin-top: 1.8rem;
            gap: 2.1rem;
          }
        }
        .p-blog__related-img {
          position: relative;
          width: 20rem;
          height: 14rem;
          @include sp {
            width: 104%;
            height: auto;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .c-tag {
          width: 8rem;
        }
        .p-blog__text {
          width: 36rem;
          height: auto;
          font-size: 2rem;
          font-weight: 700;
          @include sp {
            margin-top: 1rem;
            width: 100%;
            font-size: 1.7rem;
          }
          .c-date {
            margin-top: 1.3rem;
            @include sp {
              margin-top: 0.49rem;
            }
          }
        }
      }
    }
  }
}

// サイドバー
.p-sidebar__wrap {
  width: 25rem;
  height: auto;
  margin-top: 6.9rem;
  @include sp {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 19.6rem;
  }
  .p-widget {
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
    background-color: #fff;
    border: 0.5px solid #000;
    @include sp {
      margin-bottom: 2.8rem;
    }
    .p-widget__body {
      display: flex;
      width: 100%;
      height: 20rem;
      font-size: 1.8rem;
      background-color: #e8e8e8;
      text-align: center;
      align-items: center;
      justify-content: center;
      border: solid 1.5rem #fff;
      transition: all 0.4s;
      &:hover {
        opacity: 0.6;
      }
      @include sp {
        height: 26.8rem;
        border: solid 2rem #fff;
      }
    }

    .p-search {
      width: 100%;
      height: 7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      @include sp {
        height: 9.4rem;
        padding-left: 2rem;
        padding-right: 2rem;
      }
      input {
        width: 100%;
        height: 4rem;
        padding-left: 1rem;
        font-weight: 500;
        background-color: #e8e8e8;
        @include sp {
          height: 5.4rem;
        }
      }
      button {
        width: 4rem;
        height: 4rem;
        padding: 0.8rem;
        background-color: #000;
        transition: all 0.4s;
        &:hover {
          opacity: 0.6;
        }
        @include sp {
          width: 5.4rem;
          height: 5.4rem;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .p-widget__recommend {
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
    .p-widget__recommend-article {
      display: flex;
      gap: 1.5rem;
      margin-top: 1.5rem;
      transition: all 0.4s;
      &:hover {
        opacity: 0.6;
      }
      @include sp {
        margin-top: 2rem;
        gap: 2rem;
      }
      .p-widget__recommend-img {
        background-color: #e8e8e8;
        width: 9.5rem;
        height: 7.5rem;
        @include sp {
          width: 16rem;
          height: 11rem;
        }
      }
      .p-blog__text {
        margin-top: -0.4rem;
        width: 14rem;
        font-size: 1.7rem;
        line-height: calc(28 / 17);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        white-space: normal;
        overflow: hidden;
        max-height: calc((28 / 17) * 2 * 1em);
        text-overflow: ellipsis;
        @include sp {
          margin-top: 0.6rem;
        }
      }
    }
  }
  .p-widget__category {
    width: 100%;
    height: auto;
    .p-widget__category-li {
      li {
        padding: 0.2rem;
        position: relative;
        a {
          display: block;
          padding: 0.9rem 1rem 1.1rem;
          font-size: 1.7rem;
          font-weight: 500;
          transition: color 0.4s, background-color 0.4s;
          position: relative;
        &:hover {
          color: $color-red;
          background-color: rgba(203, 0, 0, 0.1);
        }
        @include sp {
          padding-top: 1.5rem;
          padding-bottom: 0.6rem;
        }
      }
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: #000;
          pointer-events: none; // ←★これが超重要！クリック対象にならない！
        }
      }
    }
  }
}
