@use "../global/variable" as *;
@use "../global/mixin" as *;

.blog-list__banner {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  z-index: 0;
  isolation: isolate;

  picture,
  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(80, 80, 80, 0.4863);
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 1;
  }

  .blog-list__banner-title {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding-top: 1rem;
    font-size: 2.5rem;
    text-align: center;
    z-index: 2;
  }
}

.blog-list__container {
  padding-top: 6.7rem;
  @include sp {
    padding-top: 4.8rem;
  }
  h2 {
    font-size: 2.5rem;
    padding-bottom: 3.9rem;
    text-align: center;
    @include sp {
      padding-bottom: 3.6rem;
    }
  }
  .blog-list__item-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 7rem;
    transition: all 0.4s;
    &:hover {
      opacity: 0.6;
    }
    @include sp {
      flex-direction: column;
      justify-content: flex-start;
      gap: 3.9rem;
      margin-bottom: 3.9rem;
    }
    .blog-list__item-link {
      display: flex;
      align-items: flex-start;
      max-width: 88rem;
      width: 100%;
      height: auto;
      margin: 0 auto;
      @include sp {
        flex-direction: column;
        max-width: none;
        margin: 0;
      }
      .blog-list__item-img {
        width: 26rem;
        aspect-ratio: 260 / 184;
        overflow: hidden;
        position: relative;
        flex: 0 0 auto;

        picture,
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        @include sp {
          width: 100%;
          aspect-ratio: 335 / 200;
        }

        p {
          min-width: 8rem;
          width: auto;
          height: auto;
          padding: 0 0.5rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          line-height: calc(30 / 15);
          color: #fff;
          background-color: $color-red;
          position: absolute;
          top: 0;
          @include sp {
            min-width: 9rem;
          }
        }
      }

      .blog-list__item-com {
        width: 57rem;
        flex: 1 1 auto;
        margin-left: 5rem;
        @include sp {
          width: 100%;
          margin-left: 0;
          margin-top: 2.3rem;
        }
        h3 {
          margin-bottom: 0.3rem;
          font-size: 2rem;
          line-height: calc(25 / 20);
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          @include sp {
            margin-top: 0.8rem;
            margin-bottom: 0.8rem;
            line-height: calc(30 / 20);
          }
        }
        time {
          font-size: 1.7rem;
          font-weight: 500;
          display: block;
          margin-bottom: 1.4rem;
          @include sp {
            text-align: end;
            margin-bottom: 1rem;
          }
        }
        p {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: calc(30 / 18);
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          @include sp {
            font-size: 1.6rem;
            line-height: calc(30 / 16);
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}

.pagination {
  display: flex;
  padding: 0;
  margin-top: -0.3rem;
  margin-bottom: 21.1rem;
  list-style: none;
  gap: 1rem;
  justify-content: center;
  @include sp {
    margin-top: 6.5rem;
    margin-bottom: 20.2rem;
    gap: 0.3rem;
  }
}
.pagination li {
  margin: 0;
  padding: 0;
}
.pagination a,
.pagination .ellipsis {
  display: block;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  text-align: center;
  color: #000;
  text-decoration: none;
  border: 0.1rem solid #000;
  transition: all 0.4s ease;
  &:hover {
    background-color: #000;
    color: #fff;
  }
  @include sp {
    padding: 0.8rem 1.7rem;
  }
}
.pagination .ellipsis {
  border: none;
  pointer-events: none;
  padding: 1rem 0.8rem;
}
.pagination li.active a {
  background-color: #000000;
  color: #fff;
  opacity: 1 !important;
  pointer-events: none;
}
