@use "../global/variable" as *;
@use "../global/mixin" as *;

.plan__banner {
  width: 100%;
  height: auto;
  position: relative;

  picture {
    width: 100%;
    height: auto;
    display: block;
  }

  .plan__banner-title {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    top: 0;
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2.5rem;
    background-color: rgba(#505050, 0.4863);
  }
}

.plan__type {
  padding-top: 6.7rem;
  padding-bottom: 5.8rem;
  @include sp {
    padding-top: 4.8rem;
    padding-bottom: 4rem;
    // padding: 5rem 0;
  }
  h2 {
    text-align: center;
    font-size: 2.5rem;
  }
  .plan__type-info {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 3.9rem;
    @include sp {
      margin-top: 3.9rem;
      margin-left: 0;
      flex-direction: column;
      gap: 1.98rem;
    }
    .info {
      width: 21rem;
      height: 6rem;
      background-color: $color-red;
      font-size: 2rem;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .plus {
      position: relative;
      width: 1.85rem;
      height: 1.85rem;
      margin: 0 3rem;
      @include sp {
        margin: 0;
      }
    }
    .plus::before,
    .plus::after {
      content: "";
      position: absolute;
      background-color: #000;
    }

    .plus::before {
      top: 0;
      left: 50%;
      width: 0.3rem; /* 棒の太さ */
      height: 100%;
      transform: translateX(-50%);
    }

    .plus::after {
      top: 50%;
      left: 0;
      width: 100%;
      height: 0.3rem;
      transform: translateY(-50%);
    }
  }
  p {
    margin-top: 4.8rem;
    margin-left: -0.4rem;
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    font-weight: 500;
    @include sp {
      margin-top: 4.7rem;
      margin-left: 0;
      font-size: 1.6rem;
      line-height: calc(30 / 16);
    }
  }
}

// プラン内容・月額料金
.plan__month {
  width: 100%;
  height: auto;
  padding-bottom: 6.9rem;
  margin-bottom: 15.5rem;
  @include sp {
    margin-bottom: 11.6rem;
  }
  .inner {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  h2 {
    text-align: center;
    font-size: 2.5rem;
  }

  .table-wrapper {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: default;
    @include sp {
      margin-top: -4.3rem;
      padding-bottom: 1.75rem;

      &:has(.simplebar-scrollbar.simplebar-visible) {
        cursor: grab;
        &:active {
          cursor: grabbing;
        }
      }
    }

    .simplebar-scrollbar::before {
      position: absolute;
      display: block;
      background: rgba(80, 80, 80, 0.25);
      border-radius: 0;
    }
    .simplebar-scrollbar.simplebar-visible::before {
      opacity: 1 !important;
    }
    .simplebar-track {
      position: absolute;
      background: rgba(80, 80, 80, 0.15);
      width: 100%;
      height: 2.5rem;
    }
  }

  .plan__table {
    width: 100%;
    min-width: 67.5rem;
    border-collapse: collapse;
    margin-top: 8rem;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #000;
    th,
    td {
      height: 8.5rem;
      vertical-align: middle;
      text-align: center;
      border-right: 1px solid #000;
      &:last-child {
        border: none;
      }
    }
    /* ヘッダー */
    thead th {
      position: relative;
      height: 5rem;
      // border-bottom: 1px solid #000;
      @include sp {
        height: 6.5rem;
      }
      &:last-child {
        border-right: none;
      }
    }
    th.plan__table-header {
      background: transparent;
    }
    .plan-basic,
    .plan-premium {
      background-color: #000;
      color: #fff;
      font-size: 2rem;
      line-height: calc(30 / 20);
      border-right: none;
    }
    .plan-standard {
      position: relative;
      box-sizing: border-box;
      background-color: $color-red;
      color: #fff;
      font-size: 2rem;
      line-height: calc(30 / 20);
      border: 1px solid $color-red;
      .badge {
        box-sizing: border-box;
        position: absolute;
        top: -3rem;
        padding-top: 1.1rem;
        left: -1px;
        width: 101%;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        background: $color-red;
        color: #fff;
        font-size: 1.7rem;
        @include sp {
          width: 101.5%;
        }
      }
    }
    tbody {
      tr:nth-child(even) {
        background: rgba(80, 80, 80, 0.15);
      }
      .monthly-fee th {
        width: 22rem;
        font-size: 1.7rem;
        font-weight: 700;
        padding: 2.9rem 2rem;
        text-align: left;
        border-top: 1px solid #000;
        @include sp {
          width: 21.1rem;
          font-size: 1.6rem;
          padding-left: 1rem;
          padding-top: 3.2rem;
        }
      }
      .monthly-fee td {
        width: 22rem;
        font-size: 2.2rem;
        line-height: calc(30 / 22);
        @include sp {
          padding-top: 0.9rem;
        }
      }
      tr:not(.monthly-fee) th {
        font-size: 1.7rem;
        font-weight: 400;
        text-align: left;
        padding: 2rem;
        @include sp {
          font-size: 1.6rem;
          line-height: calc(25 / 16);
          text-align: left;
          padding-left: 1rem;
          padding-top: 1.7rem;
          padding-bottom: 1rem;
        }
      }
      tr:not(.monthly-fee) td {
        font-size: 1.7rem;
        font-weight: 500;
      }
    }
    .highlight {
      color: $color-red;
      font-size: 2.2rem;
      font-weight: bold;
    }
    .dot {
      display: inline-block;
      width: 0.8em;
      height: 0.8em;
      background: #000;
      border-radius: 50%;
      vertical-align: middle;
      margin-top: -0.3rem;
      &.red {
        background: $color-red;
      }
    }
    /* 横線アイコン */
    .line {
      display: inline-block;
      width: 3rem;
      height: 0.1rem;
      background-color: currentColor;
      vertical-align: middle;
    }
  }
  p {
    font-size: 1.7rem;
    font-weight: 400;
    @include sp {
      font-size: 1.6rem;
      line-height: calc(30 / 16);
      padding-top: 1.6rem;
    }
  }
}
