@use "../global/variable" as *;
@use "../global/mixin" as *;

.graduation__pops-banner {
  width: 100%;
  height: 40rem;
  margin-top: 7rem;
  position: relative;

  @include sp {
    height: 23.6rem;
    margin-top: 5rem;
  }

  picture,
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }
}
.graduation__pops-banner-title {
  min-width: 10rem;
  width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  line-height: calc(30 / 15);
  color: #fff;
  background-color: $color-red;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0.5rem;
}

.graduation__pops-info {
  h2 {
    font-size: 2.5rem;
    line-height: calc(40 / 25);
    margin-top: 5.2rem;
    @include sp {
      font-size: 2rem;
      line-height: calc(30 / 20);
      margin-top: 3rem;
    }
  }

  h2 {
    display: block;
    font-size: 2.5rem;
    justify-content: center;
    @include sp {
      font-size: 2rem;
    }
  }
  time {
    display: block;
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 1.7rem;
    @include sp {
      font-size: 1.7rem;
      margin-top: 0.8rem;
    }
  }
}

.profile-container {
  margin-top: 5.9rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  @include sp {
    margin-top: 2.4rem;
    flex-direction: column;
    gap: 0;
  }
  .profile-list {
    display: table;
    table-layout: fixed;
    flex-basis: 45.5%;
    min-width: 0;
    border-collapse: collapse;
    border: 1px solid #707070;
    @include sp {
      width: 100%;
    }
    .profile-item {
      display: table-row;
    }
    dt {
      width: 14rem;
      background-color: #e5e5e5;
      display: table-cell;
      border: 1px solid #707070;
      padding-left: 2rem;
      font-size: 1.8rem;
      line-height: calc(37 / 18);
      vertical-align: middle;
      @include sp {
        width: 12rem;
        padding-left: 0.9rem;
      }
    }
    dd {
      width: 26rem;
      display: table-cell;
      padding: 0rem 2rem;
      border: 1px solid #707070;
      margin: 0;
      font-size: 1.8rem;
      font-weight: 500;
      vertical-align: middle;
      @include sp {
        width: 21.5rem;
        padding-left: 0.9rem;
      }
    }
  }
  p {
    width: 48%;
    display: block;
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    font-weight: 500;
    @include sp {
      width: 100%;
      margin-left: 0;
      margin-top: 2.7rem;
    }
  }
}

// 記事ナビゲーション
.p-blog__pager {
  margin-top: 5.6rem;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20rem;

  @include sp {
    margin-top: 4rem;
    gap: 2.2rem;
  }
  a {
    display: block;
    transition: opacity 0.4s ease;
    &:hover {
      opacity: 0.6;
    }
  }
  .p-blog__pager-item {
    background-color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .prev,
    .next {
      position: relative;
      display: block;
      width: 100%;
      height: 3.7rem;
      background-color: #000;
      color: #fff;
      padding: 0.5rem 4.2rem;
      font-size: 1.7rem;
      line-height: calc(30 / 17);
      font-weight: 500;
      margin-bottom: 1.6rem;
      text-decoration: none;
    }
    .prev {
      text-align: left;
      &::before {
        content: "";
        position: absolute;
        left: 2.3rem;
        top: 50%;
        transform: translateY(-50%);
        border-width: 0.85rem 1.2rem 0.85rem 0;
        border-style: solid;
        border-color: transparent currentColor transparent transparent;
      }
    }
    .next {
      text-align: right;
      &::after {
        content: "";
        position: absolute;
        right: 2.3rem;
        top: 50%;
        transform: translateY(-50%);
        border-width: 0.85rem 0 0.85rem 1.2rem;
        border-style: solid;
        border-color: transparent transparent transparent currentColor;
      }
    }
    .p-blog__page {
      display: flex;
      align-items: flex-start;
      width: 100%;
      gap: 1.6rem;
      img {
        width: 9.8rem;
        height: 6.8rem;
        flex: 0 0 9.8rem;
        object-fit: cover;
        display: block;
      }
      .p-blog__text {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: calc(25 / 16);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
        min-height: 0;
        @include sp {
          height: 7.5rem;
          -webkit-line-clamp: 3;
        }
      }
    }
  }
}

.p-blog__related {
  margin-top: 10rem;
  width: 100%;
  height: auto;
  @include sp {
    margin-top: 6.2rem;
    margin-bottom: 0.8rem;
  }
  .c-title-black {
    justify-content: flex-start;
    text-align: left;
    padding-left: 3rem;
    @include sp {
      justify-content: center;
      text-align: center;
      padding-left: 0;
    }
  }
  .p-blog__related-list {
    width: 100%;
    height: auto;
    .p-blog__related-card {
      display: flex;
      margin-top: 3rem;
      gap: 3rem;
      transition: opacity 0.4s ease;
      &:hover {
        opacity: 0.6;
      }
      @include sp {
        margin-top: 2rem;
        gap: 2rem;
      }
    }
    .p-blog__related-img {
      position: relative;
      width: 29.6%;
      height: 18.3rem;
      @include sp {
        width: 51.4%;
        height: auto;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      .c-tag {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 10rem;
        width: auto;
        height: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        line-height: calc(30 / 15);
        @include sp {
          min-width: 8rem;
        }
      }
    }
    .p-blog__text {
      width: 66.9%;
      height: auto;
      @include sp {
        width: 50%;
      }
      p {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        line-height: calc(25 / 20);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        @include sp {
          white-space: wrap;
          height: 5.5rem;
          font-size: 1.7rem;
          line-height: calc(28 / 17);
          overflow: hidden;
        }
      }
      .c-date {
        margin-left: 0.4rem;
        margin-top: 1.5rem;
        @include sp {
          margin-left: 0;
          margin-top: 0.3rem;
        }
      }
    }
  }
}
