@use "../global/variable" as *;
@use "../global/mixin" as *;

// ファーストビュー
.main__fv {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  isolation: isolate;

  picture,
  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(80, 80, 80, 0.502);
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 1;
  }

  h2 {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-size: 4rem;
    line-height: calc(60 / 40);
    z-index: 2;
    display: block;
    white-space: nowrap;
    @include sp {
      top: 51.5%;
      font-size: 3rem;
      line-height: calc(50 / 30);
    }
  }
}

// 全人類ミュージシャン計画
.main__about {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding-top: 6.5rem;
  padding-bottom: 5.5rem;
  @include sp {
    padding-top: 4.7rem;
    padding-bottom: 3.4rem
  }
  h2 {
    font-size: 3.5rem;
    color: $color-red;
    text-align: center;
    margin-bottom: 1.8rem;
    @include sp {
      font-size: 2.5rem;
      line-height: calc(40 / 25);
      margin-bottom: 0.6rem;
    }
  }
  p {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3.4rem;
    @include sp {
      line-height: calc(30 / 18);
      margin-bottom: 2rem;
      text-align: start;
    }
  }
  picture,
  img {
    display: block;
    width: 99%;
    height: 100%;
    margin: 0 auto;
  }
}

.about__timeline-container {
  width: 100%;
  position: relative;
  @include sp {
    margin-top: 1.4rem;
  }
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -0.5rem;
    bottom: 1.8rem;
    width: 3px;
    background-color: $color-red;
  }
  .timeline-tip {
    position: absolute;
    left: 50%;
    top: -0.7rem;
    width: 0;
    height: 0;
    transform: translateX(-50%);

    // ── 斜めバー２本を疑似要素で描画
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 2.5rem;
      height: 0.3rem;
      background-color: $color-red;
      border-radius: 0.9rem;
      top: -0.15rem; /* 縦線の先端にかぶせる */
    }

    &::before {
      right: 0;
      transform: rotate(-45deg);
      transform-origin: right center;
    }
    &::after {
      left: -0.1rem;
      transform: rotate(45deg);
      transform-origin: left center;
    }
  }
  .about__timeline {
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      .eng {
        flex: 1;
        text-align: right;
        font-size: 2.5rem;
        line-height: calc(50 / 25);
        color: $color-red;
        margin-right: 3rem;
        margin-top: 1.9rem;
        @include sp {
          font-size: 2rem;
          line-height: calc(50 / 20);
        }
      }
      .dot {
        flex: 0 0 auto;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: $color-red;
        margin-top: 1.9rem;
      }
      .jpn {
        flex: 1;
        text-align: left;
        font-size: 2.3rem;
        line-height: calc(50 / 23);
        font-weight: 500;
        margin-left: 3rem;
        margin-top: 1.9rem;
        @include sp {
          font-size: 2rem;
        }
      }
    }
  }
}

// 音楽業界初！
.main__about-com-section {
  padding: 6.8rem 0 6rem;
  width: 100%;
  height: auto;
  background-color: $color-red;
  @include sp {
    padding: 5rem 0 4rem;
  }
  .main__about-com {
    text-align: center;
    h2 {
      font-size: 3rem;
      line-height: calc(50 / 30);
      color: #fff;
      margin-bottom: 3rem;
      @include sp {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
        margin-bottom: 1.3rem;
      }
    }
    p {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: calc(30 / 18);
      color: #fff;
    }
  }
}

// きたむらミュージックスクールが選ばれる理由
.main__reason {
  width: 100%;
  height: auto;
  padding-top: 6.5rem;
  padding-bottom: 9rem;
  @include sp {
    padding-top: 5rem;
    padding-bottom: 3.9rem;
  }
  h2 {
    text-align: center;
    font-size: 3rem;
    line-height: calc(33 / 20);
    margin-bottom: 2.8rem;
    @include sp {
      font-size: 2.5rem;
      line-height: calc(40 / 25);
      margin-bottom: 3.5rem;
    }
  }
  .main__reason-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    @include sp {
      gap: 3.9rem;
    }
    .main__reason-box {
      width: 100%;
      height: auto;
      display: flex;
      @include sp {
        flex-direction: column;
      }
      picture,
      img {
        width: 35rem;
        height: auto;
        object-fit: cover;
        object-position: center;

        @include sp {
          width: 100%;
          height: auto;
        }
      }
      .main__reason-box-com-area {
        height: auto;
        @include sp {
          width: 100%;
          height: auto;
        }
        h3 {
          width: 100%;
          font-size: 2.2rem;
          display: inline-block;
          position: relative;
          padding-left: 5rem;
          @include sp {
            padding: 0;
            font-size: 2rem;
            margin-top: 3rem;
          }
        }
        .main__reason-box-com {
          margin-top: 0.9rem;
          border-top: 2px solid $color-red;
          padding-top: 3.7rem;
          padding-left: 5rem;
          @include sp {
            width: 100%;
            padding: 0;
            padding-top: 1.7rem;
            margin-top: 0.8rem;
          }
          p {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: calc(33 / 18);
            @include sp {
              font-size: 1.6rem;
              line-height: calc(30 / 16);
            }
          }
        }
      }
    }
  }
}

// 生徒さんたちの声
.main__voice {
  width: 100%;
  padding-top: 4.7rem;
  padding-bottom: 7.9rem;
  background-color: $color-red;
  @include sp {
    padding-top: 4.8rem;
    padding-bottom: 4.85rem;
  }

  h2 {
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3.8rem;
    @include sp {
      margin-bottom: 4rem;
      font-size: 2.5rem;
    }
  }
}
/* スライド枠 */
.main__voice-wrapper {
  position: relative;
  max-width: 98rem;
  margin: 0 auto;
  padding-left: 5rem;
  padding-right: 5rem;
  overflow: visible;
  @include sp {
    width: 100%;
    height: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .main__voice-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .slick-list {
    overflow: hidden;
    margin: 0 -1.75rem;
    padding: 0;
    box-sizing: border-box;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
    @include sp {
      margin: 0;
      width: 100%;
      // padding: 0 1.25rem;
    }
  }

  .slick-slide {
    margin: 0 1.75rem;
    box-sizing: border-box;
  }
}

.voice-arrow {
  position: absolute;
  top: 42.9%;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem;
  height: 4rem;
  cursor: pointer;
  transition: opacity 0.4s ease;

  @include sp {
    top: 40.6%;
    transform: translateY(-50%);
  }
  &:hover {
    opacity: 0.6;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    pointer-events: none;
  }
  &.voice-arrow--prev {
    position: absolute;
    margin-left: -4.2rem;
    @include sp {
      margin-left: 2rem;
    }
  }
  &.voice-arrow--next {
    position: absolute;
    right: 0.8rem;
    @include sp {
      right: 2.2rem;
    }
  }
}

.main__voice-card {
  display: flex;
  flex-direction: column;
  transition: opacity 0.4s ease;
  &:hover {
    opacity: 0.6;
  }

  .main__voice-card-img {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: calc(100% * 19 / 27);
    @include sp {
      padding-top: 0;
      aspect-ratio: 34 / 20;
    }
    picture,
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .main__voice-card-com {
    h3 {
      color: #fff;
      font-size: 2.2rem;
      font-weight: 700;
      text-align: center;
      margin-top: 1.8rem;
      @include sp {
        margin-top: 2.8rem;
      }
    }
    p {
      font-size: 1.8rem;
      font-weight: 500;
      color: #fff;
      line-height: calc(30 / 18);
      margin-top: 1rem;
    }
  }
}

// ご利用の流れ
.usage__flow {
  position: relative;
  width: 100%;
  height: auto;
  padding: 3.7rem 0 6rem;
  @include sp {
    padding: 4.9rem 0 0;
  }

  h2 {
    text-align: center;
    font-size: 3rem;
    @include sp {
      font-size: 2.5rem;
    }
  }

  .usage__flow-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 1rem;
    margin-top: 5.5rem;
    align-items: stretch;
    @include sp {
      margin-top: 5rem;
      margin-left: 1.2rem;
    }
  }
  .usage__flow-img {
    position: relative;
    margin-top: 1rem;
    @include sp {
      left: -1.3rem;
    }
    .arrow {
      position: absolute;
      top: 0;
      left: -1.5rem;
      width: 0.3rem;
      height: 103%;
      background-color: $color-red;
      @include sp {
        height: 98%;
        left: 1.7rem;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 2.5rem;
        height: 0.3rem;
        background-color: $color-red;
        border-radius: 0.9rem;
      }

      &::before {
        bottom: 0.4rem;
        right: -0.3rem;
        transform: rotate(45deg);
        @include sp {
          bottom: 0.5rem;
        }
      }

      &::after {
        bottom: 0.4rem;
        left: -0.3rem;
        transform: rotate(-45deg);
        @include sp {
          bottom: 0.5rem;
        }
      }
    }
  }
  .usage__flow-list {
    position: relative;
    margin-left: 2.11rem;
    display: flex;
    flex-direction: column;
    gap: 5.85rem;
    @include sp {
      margin-left: 0.6rem;
      gap: 4.9rem;
    }

    li {
      display: flex;
      align-items: center;
      @include sp {
        flex-direction: column;
        align-items: flex-start;
      }

      h3 {
        position: relative;
        width: 22rem;
        top: -1.3rem;
        color: $color-red;
        font-size: 2.2rem;
        line-height: calc(33 / 22);
        padding-left: 2.6rem;
        @include sp {
          padding-left: 3rem;
        }

        &::before {
          content: "";
          position: absolute;
          top: 54%;
          left: -3.4rem;
          transform: translate(-50%, -50%);
          width: 2rem;
          height: 2rem;
          background-color: $color-red;
          border-radius: 50%;
          @include sp {
            top: 45%;
            left: 0;
          }
        }
      }

      p {
        display: block;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: calc(30 / 18);
        @include sp {
          font-size: 1.6rem;
          line-height: calc(30 / 16);
          margin-top: -0.4rem;
          padding-left: 3rem;
        }
      }
    }
  }
}

// よくあるご質問
.main__faq {
  width: 100%;
  height: auto;
  padding-top: 5.2rem;
  padding-bottom: 7rem;
  @include sp {
    padding-top: 5.6rem;
    padding-bottom: 5rem;
  }
  h2 {
    text-align: center;
    font-size: 3rem;
    @include sp {
      font-size: 2.5rem;
    }
  }
  .main__faq-list {
    width: 100%;
    height: auto;
    margin-top: 3.5rem;
    @include sp {
      margin-top: 3.9rem;
    }
  }
  .main__faq-item {
    border-top: 0.05rem solid #000;
  }
  .main__faq-item:last-child {
    border-bottom: 0.05rem solid #000;
  }
  /* ── 質問ボタン ── */
  .faq__question {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.5rem 3rem 1.4rem 2rem;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s;
    @include sp {
      padding: 1.6rem 1.5rem 0.8rem 0rem;
    }
  }

  /* Qアイコン */
  .faq__question-icon {
    flex-shrink: 0;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    line-height: calc(30 / 20);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    @include sp {
      margin-right: 2.3rem;
    }
  }

  /* 質問テキスト */
  .faq__question-text {
    flex: 1;
    text-align: left;
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    font-weight: 500;
    @include sp {
      font-size: 1.6rem;
      line-height: calc(30 / 16);
    }
  }

  /* ▼矢印 */
  .faq__question-arrow {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 1rem;
    background: url("../images/top/faq-arrow.svg") no-repeat center center;
    background-size: contain;
    transition: transform 0.3s;
    @include sp {
      margin-left: 1.8rem;
    }
  }
  .faq__question[aria-expanded="true"] .faq__question-arrow {
    transform: rotate(-180deg);
  }

  /* ── 回答 ── */
  .faq__answer {
    display: none;
    border-bottom: none;
    padding: 1.7rem 3rem 1.4rem 2rem;
    background-color: rgba(203, 0, 0, 0.1);
    cursor: pointer;
    max-height: 100%;
    @include sp {
      padding: 2rem 5rem 0.7rem 0rem;
    }
    p {
      display: flex;
      align-items: center;
      font-size: 1.7rem;
      color: $color-red;
      line-height: calc(30 / 17);
      @include sp {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
      }
    }
    .faq__answer-icon {
      flex-shrink: 0;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      background-color: $color-red;
      color: #fff;
      font-size: 2rem;
      font-weight: 700;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
      @include sp {
        margin-right: 2.3rem;
      }
    }
  }
  /* 展開時に表示 */
  .faq__question[aria-expanded="true"] + .faq__answer {
    display: block;
  }
  .faq__question[aria-expanded="true"] + .faq__answer[hidden] {
    display: block;
  }
}

// ブログ
.main__blog-list {
  padding-bottom: 4.4rem;
  @include sp {
  padding-bottom: 0.4rem;
  }
  h2 {
    text-align: center;
    font-size: 3rem;
    @include sp {
      font-size: 2.5rem;
    }
  }
  .main__blog-list__item {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: flex-start;
    margin-top: 3.7rem;
    margin-bottom: 4.4rem;
    @include sp {
      flex-direction: column;
      gap: 4.4rem;
      margin-top: 3.9rem;
      margin-bottom: 3.9rem;
    }
    .main__blog-list__item-box {
      flex: 0 0 calc((100% - 10rem) / 3);
      max-width: calc((100% - 10rem) / 3);
      transition: opacity 0.4s ease;
      &:hover {
        opacity: 0.4;
      }

      @include sp {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
      }
      .main__blog-list__item-link {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      .main__blog-list__item-img {
        width: 100%;
        aspect-ratio: 13 / 10;
        position: relative;
        @include sp {
          width: 100%;
          aspect-ratio: 67 / 40;
          margin-bottom: 1rem;
        }
        picture,
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        p {
          min-width: 8rem;
          width: auto;
          height: auto;
          padding: 0 0.5rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          line-height: calc(30 / 15);
          color: #fff;
          background-color: $color-red;
          position: absolute;
          top: 0;
          @include sp {
            min-width: 9rem;
          }
        }
      }
      .main__blog-list__item-com {
        h3 {
          font-size: 2rem;
          line-height: calc(25 / 20);
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          @include sp {
            line-height: calc(30 / 20);
          }
        }
        time {
          display: block;
          font-size: 1.7rem;
          font-weight: 500;
          text-align: end;
          margin-top: 1.3rem;
          @include sp {
            margin-top: 0.8rem;
          }
        }
      }
    }
  }
}

.main__blog-list__btn {
  display: block;
  width: fit-content;
  margin-left: auto;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #000;
  text-underline-offset: 0.3rem;
  transition: opacity 0.4s ease;
  &:hover {
    opacity: 0.6;
  }
  @include sp {
    margin: 0 auto;
    text-align: center;
  }
}
